<%- include('./partials/head') %>



<section id="card">
  <div class="card-content">
    <img class="card-item fade-in" src="<%= data.avatar %>" alt="DORYA">
    <h1 class="card-item fade-in"><%= data.name + " " + data.surname %></h1>
    <p class="card-item fade-in"><%= data.bio %></p>
    <button class="card-item fade-in">
      <i class='bx bx-right-arrow'></i>  
    </button>
  </div>
</section>

<script src="scripts/script.js"></script>
<%- include('./partials/foot') %>
